[mysqld]
# Character set.
character-set-server = utf8mb4
collation-server = utf8mb4_bin

# Timezone.
default-time-zone = SYSTEM
log_timestamps = SYSTEM

# Authentication plugin.
default-authentication-plugin = mysql_native_password

# Error Log.
# TODO: Fix the permission error problems.
#log-error = /var/log/mysql/mysql-error.log

# Slow query.
slow_query_log = 1
#slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 5.0
log_queries_not_using_indexes = 0

# Execution log.
general_log = 1
#general_log_file = /var/log/mysql/mysql-query.log

# Max allowed packet size.
max_allowed_packet = 256M

# MySQL options.
[mysql]
# Character set.
default-character-set = utf8mb4

# MySQL client tool.
[client]
# Character set.
default-character-set = utf8mb4
