# Web
fastapi==0.103.2
uvicorn==0.23.2
gunicorn==21.2.0
pydantic==2.4.2
pydantic-settings==2.0.3

# Database
sqlalchemy==2.0.21
pymysql==1.1.0

# LLM
langchain==0.0.305
langchain_experimental==0.0.25
openai==0.28.1
