# Web
fastapi==0.103.2
uvicorn==0.23.2
gunicorn==21.2.0
pydantic==2.7.4
pydantic-settings==2.7.1
requests

# Database
sqlalchemy==2.0.21
pymysql==1.1.0

# LLM
langchain==0.3.0
langchain_experimental==0.3.0
langchain-openai
openai

# Defense
nemoguardrails==0.11.0
